<ion-app>
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Mi APP</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <h1 class="titulos">Registro</h1>
      <ion-item>
        <ion-input type="text" label="Nombre" [(ngModel)]="nombre" placeholder="Escibre tu nombre"></ion-input>
      </ion-item>

      <ion-item>
          <ion-label>Educacion</ion-label>
          <ion-select value="Educacion" multiple="true" placeholder="Seleciona tu nivel">
            <ion-select-option *ngFor="let niv of niveles" values="niv.id">{{niv.nivel}}</ion-select-option>
          </ion-select>
      </ion-item>

      <ion-button (click)="mostrarNombre()" expand="block">
        enviar
      </ion-button>
    </ion-content>

    <ion-footer>

    </ion-footer>
</ion-app>